<mat-toolbar color="primary">
    <mat-toolbar-row class="custom-row">
        <store-login-signup></store-login-signup>
        <div class="store">
            <ul class="toolbar">
                <li class="font">Daily Deals</li>
                <li class="font">Sell</li>
                <li class="font">Help & Contact</li>
            </ul>
        </div>
        <div class="currency">
            <div class="flag"></div>
            <p class="font currency-name">£ GBP</p>
        </div>
        <div class="cart">
            <store-cart></store-cart>
        </div>
    </mat-toolbar-row>
</mat-toolbar>