@import '../../../../styles/common.scss';

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-error {
        position: absolute;
        top: 11rem;
        padding: 1rem 1.5rem;
        background-color: rgb(247, 125, 125);
        @include font("Montserrat", 700, 1rem, white);
    }

    .close-img {
        background: url("../../../../assets/img/icons/close.svg");
    }

    .login-title {
        color: #2E2E2E;
        margin-bottom: 5rem;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .login-input {
            border: 1px solid #E1E1E1;
            border-radius: 6px;
            outline: 0;
            width: 300px;
            height: 60px;
            margin: 0 0 1rem 0;
            padding: 0 1rem;
        }

        .login-btn {
            @include main-btn($main-color, white);
            margin-top: 0.7rem;
            outline: 0;
        }
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 1.4rem;
        color: $main-color;

        .info {
            cursor: pointer;
        }
    }

}
