<div class="filters">
  <div class="general-title">Filter N items</div>
  <div class="applied-filters">
    <ul>
      <li>
        <span class="remove"></span>
        <span class="filter-name"></span>
        <span class="choosed-filter"></span>
      </li>
    </ul>
  </div>
  <div class="color-filter">
    <div class="title"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
    <div class="color-sample"></div>
  </div>
  <div class="size-filter">
    <div class="title"></div>
    <button class="size"></button>
    <button class="size"></button>
    <button class="size"></button>
    <button class="size"></button>
    <button class="size"></button>
  </div>
  <div class="price-range">
    <div class="title"></div>
    <div class="range">

    </div>
  </div>
  <div class="brand-filter">
    <div class="title"></div>
    <div class="brands-list">
      <ul>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
        <li class="brand"></li>
      </ul>
    </div>
  </div>
</div>
