<div class="row">
    <div class="home-head-img">
        <div class="head-desctop-positioning">
            <div>
                <div class="head-title">
                    <div class="title-bold"><h1>Backgraund development</h1></div>
                    <div class="title-italic"><h1>and</h1></div>
                </div>
                <div class="head-text">
                    <h2>Convergent the dictates of the consumer: background and development</h2>
                </div>
                <button class="head-button" (click)="mooveToCatalog()">
                    View All
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="sale home-col">
        <div class="container-fluid">
            <div class="row">
                <button class="sale-btn">Sale</button>
                <div class="col-md-5">
                    <div class="sale-img"></div>
                </div>
                <div class="col-md-7">
                    <div class="justify-col">
                        <div class="sale-title">Vera Bradley</div>
                        <div class="sale-text">Carry the day in style with this extra-large tote crafted in our chic B.B. Collection textured PVC. Featuring colorful faux leather trim, this tote offers a roomy interior plus just enough perfectly placed pockets to keep smaller items organized and easy to find.</div>
                        <button class="shop-now-btn">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="padding">
        <div class="row">
            <div class="col-md-4">
                <div class="side-add">
                    <div class="side-add-1 side-add-size">
                        <div class="add-title-1">WOW</div>
                        <div class="add-text">Check What!</div>
                    </div>
                    <div class="side-add-2 side-add-size">
                        <div class="add-color">
                            <div class="add-title-2">MEN</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-add">
                    <button class="pop">POP</button>
                    <div class="main-add-img"></div>
                    <div class="main-add-description">
                        <div class="main-add-title">Let the Game begin</div>
                        <div class="main-add-text">Registration is on - get ready for the Open</div>
                        <button class="main-add-button">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="subscription">
        <div class="sub-title">10% Discount for your subscription</div>
        <div class="sub-text">Carry the day in style with this extra-large tote crafted in our chic B.B. Collection textured PVC. Featuring colorful faux leather trim, this tote offers a roomy interior.</div>
        <form class="sub-form">
            <label for="sub" class="sub-label"></label>
            <input type="email" class="sub-input" placeholder="Your email here" id="sub">
            <button class="sub-btn">Subscribe</button>
        </form>
    </div>
</div>