<div class="footer-nav">
    <div class="footer-col">
        <div class="title">
            Questions
        </div>
        <ul class="list">
            <li class="list-item"><a href="#">Help</a></li>
            <li class="list-item"><a href="#">Track Order</a></li>
            <li class="list-item"><a href="#">Returns</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <div class="title">
            What's in store
        </div>
        <ul class="list">
            <li class="list-item"><a href="#">Women</a></li>
            <li class="list-item"><a href="#">Men</a></li>
            <li class="list-item"><a href="#">Product A-Z</a></li>
            <li class="list-item"><a href="#">Buy Gift Vouchers</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <div class="title">
            Follow us
        </div>
        <ul class="list">
            <li class="list-item"><a href="#">Facebook</a></li>
            <li class="list-item"><a href="#">Twitter</a></li>
            <li class="list-item"><a href="#">YouTube</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <div class="copyright">
            2019 shopmate LTD
        </div>
    </div>
</div>